<?xml version="1.0" encoding="utf-8"?>

<!--
        This file is part of Krogkollen.

         Krogkollen is free software: you can redistribute it and/or modify
         it under the terms of the GNU General Public License as published by
         the Free Software Foundation, either version 3 of the License, or
         (at your option) any later version.

         Krogkollen is distributed in the hope that it will be useful,
         but WITHOUT ANY WARRANTY; without even the implied warranty of
         MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
         GNU General Public License for more details.

         You should have received a copy of the GNU General Public License
         along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="se.chalmers.krogkollen"
          android:versionCode="1"
          android:versionName="0.3" >

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        <activity
                android:name="se.chalmers.krogkollen.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/NoActionBar"
                android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyCRucmz7vhihr7MDjtm125OGj7mwba_u70" />

        <activity
                android:name="se.chalmers.krogkollen.map.MapActivity"
                android:label="@string/title_activity_map"
                android:theme="@style/HideUpIcon"
                android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity android:name="se.chalmers.krogkollen.detailed.DetailedActivity"
                  android:label="@string/title_activity_detailed"
                  android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity android:name="se.chalmers.krogkollen.help.HelpActivity"
                  android:label="@string/title_activity_help"
                  android:parentActivityName="se.chalmers.krogkollen.map.MapActivity"
                  android:configChanges="orientation|keyboardHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="se.chalmers.krogkollen.map.MapActivity" />
        </activity>
        <activity android:name=".settings.SettingsActivity"
                  android:configChanges="orientation|keyboardHidden"/>
    </application>

</manifest>